

  <footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>company</h4>
  	 			<ul>
  	 				<li><a href="#">about us</a></li>
  	 				<li><a href="#">our services</a></li>
  	 				<li><a href="#">privacy policy</a></li>
  	 				<li><a href="#">affiliate program</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Infomartions</h4>
  	 			<!-- <ul>
  	 				<li><a href="#">FAQ</a></li>
  	 				<li><a href="#">shipping</a></li>
  	 				<li><a href="#">returns</a></li>
  	 				<li><a href="#">order status</a></li>
  	 				<li><a href="#">payment options</a></li>
  	 			</ul> -->
				<div>
					<p>
						Téléphone : +212 522 991 540
						FAX : +212 522 989 026
						Siège social : 227, Boulevard GHANDI, N° 2, 20380-Casablanca.
						Email : consulting@agora-technology.com
								services@agora-technology.com
								formations@agora-technology.com
			
					</p>
				</div>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Liens utiles</h4>
  	 			<ul>
  	 				<li><a href="#">Acceuil</a></li>
  	 				<li><a href="#">A propos</a></li>
  	 				<li><a href="#">Services</a></li>
  	 				<li><a href="#">Solutions</a></li>
            <li><a href="#">Partenaires</a></li>
            <li><a href="#">Contact</a></li>

  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>logo</h4>
  	 			<!-- <div class="social-links"> -->
            <img src="../../../assets/LOGO_AGORA_TECHNOLOGY.png"/>

  	 			<!-- </div> -->
  	 		</div>
  	 	</div>
  	 </div>
  </footer>
