<header>
  <div class="header ">
    <div class="logo">
      <img src="../../../assets/LOGO_AGORA_TECHNOLOGY.png" alt="logo de l'entreprise" style="height: 100px;
      padding-left: 80px;
      margin-top: -24px;" />
      <img src="../../../assets/s-c-f.jpg" alt="logo de l'entreprise" style="height: 17px;
      width: 300px;" />
    </div>
    <div class="groupeBtn">
      <button>Acceuil</button>
      <button>Services</button>
      <button>Audit & Consulting</button>
      <button>Formations</button>
      <button>Services</button>
      <button>Partenaires</button>
      <button>Testing center</button>
      <button>Offres d'emploi</button>
    </div>
  </div>
</header>
